body {
    color: white;
    background-color: #1D5257;
    text-align: center;
}

nav {
    background-color: #001E20;
    margin: 20px;
    padding: 5px;
}

div {
    background-color: #611530;
    width: 80%;
}

a {
/*    display: block;*/
    color: white;
    text-align: center;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #060002;
}

a:hover.active {
    background-color: #4D0820;
}

.active {
    background-color: #611530;
}

img {
    width: 60%;
    margin: 50px;
}