body {
    width: 100%;
    color: gainsboro;
    background-color: #1D4D51;
}

nav {
    width: 100%;
    background-color: #002124;
    padding: 10px;
    margin-top: -5px;
    margin-left: -10px;
}

div {
    background-color: #0f3f44;
    width: 65%;
    margin: auto;
    margin-top: 20px;
}

a {
    color: lightgray;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

a:hover:not(.active) {
    background-color: #060002;
}

a:hover.active {
    background-color: #48031C;
}

.active {
    background-color: #611530;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

blockquote {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: #0f3f44;
    padding: 20px;
    color: darkgray;
    text-align: center;
    border: double;
}

p {
    padding: 20px;
    line-height: 20px;
}

.contact {
   margin: 20px;
}

h2 {
    margin-left: 20%;
}

.contact:hover {
    background-color: red;
}

span {
    display: block;
    margin-left: 15%;
    margin: auto;
    padding: 5px;
}

