body {
    background-color: #ffffff;
}

nav {
    width: 100%;
    background-color: #ff9f1c;
    padding: 10px;
    margin-top: -6px;
    margin-left: -10px;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

a:hover:not(.active) {
    background-color: #FFA730;
}

.active {
    background-color: #E8911A;
}

h1, #header {
    margin-top: 0;
}

h1 #title {
    font-size: 250%;
}

#header {
    margin: 0;
    margin-bottom: 10px;
    background-color: #ffbf69;
    padding-left: 50px;
    margin-left: -10px;
}

#browse {
    background-color: #cbf3f0;
    background-color: #BCF2EE;
}

#bottom {
    background-color: #2ec4b6;
    height: 100px;
    margin-bottom: -10px;
    margin-left: -10px;
}

#info {
    text-align: center;
    position: relative;
    top: 50px;
    color: darkslategray;
}

#pic {
    max-width: 40%;
    margin: 10px;
    padding: 10px;
}

table {
    padding: 10px;
    width: 100%;
    text-align: center;
}

td {
    width: 34%;
    height: 15%;
}

table, th, td {
    border: 5px solid #ABDCD9;
    border-collapse: collapse;
}

#browse {
    width: 70%;
    margin: auto;
}