html {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-size: .6em;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: sans-serif;
}

nav {
    background-color: #056cb6;
    padding: 1.5em;
    color: white;
}

h2 {
    text-align: center;
}

button {
    background-color: #0279ce; /* Green */
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .6em;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none
}

.logo {
    max-width: 30px;
}

#topHeader {
    
}

#heading {
    display: inline;
    padding: 10px;
}

.content {
    margin: 10px;
}

.bottomNav {
    align-content: center;
}

#menu {
    position: fixed;
    top: 10px;
    right: 30px;
}

#menu_button {
    font-size: .6em;
    display: inline;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 55px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
    margin-left: 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* adjust  css for larger screens*/
@media only screen and (min-width: 768px) {
    .first {
        float: left;
        display: inline-block
    }

    .middle {
        display: inline-block;
    }

    .last {
        float: right;
        display: inline-block;
    }
    
    body {
        font-size: 1em;
    }
    
    .sidenav a {
        font-size: 25px;
    }
    
    .sidenav {
        padding-top: 60px;
    }
    
    .sidenav .closebtn {
        font-size: 36px;
    }
    
    #menu_button {
        font-size: 1em;
    }
    
    button {
        padding: 15px 32px;
        font-size: .8em;
    }
}