html {
    height: 100%;
    font-size: 16px;
}

body {
    font-size: .6em;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: sans-serif;
}

nav {
    background-color: #056cb6;
    padding: 1.5em;
    color: white;
}

h2 {
    text-align: center;
}

button {
    background-color: #0279ce; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none
}

.logo {
    max-width: 30px;
}

#heading {
    display: inline;
    padding: 10px;
}

#menu {
    position: fixed;
    top: 10px;
    right: 30px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 3em;
    margin-left: 50px;
}

/* adjust  css for larger screens*/
@media only screen and (min-width: 768px) {
    .first {
        float: left;
        display: inline-block
    }

    .middle {
        display: inline-block;
    }

    .last {
        float: right;
        display: inline-block;
    }
    
    body {
        font-size: 1em;
    }
    
    .sidenav a {
        font-size: 25px;
    }
    
    .sidenav {
        padding-top: 60px;
    }
    
    .sidenav .closebtn {
        font-size: 36px;
    }
}